body {
    font-family: Georgia, serif;
    font: 1em sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 182, 76);
    color:black
    
    




}



h2 {
    background-color: tan;
    color: black;
    padding: 0;
    text-align: center;


}

nav ul {
    list-style: none;
    background-color: tan;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;




}
nav li {
    float: left;
    justify-content: center;
     text-align: center;


}

nav a {
    display: block;
    text-decoration:none ;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;


}

nav a:hover {
    background-color: goldenrod;
}
h3{
    background-color: tan;
    color: black;
    padding: 0;
    text-align: center;
}

h4{
        background-color: tan;
    color: black;
    padding: 0;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*|| SMALL SCREEN */
@media screen and (min-width:576px) {

    body {
        background-color:rgb(240, 182, 76) ;
    }

    nav {
        display: none;
    }

    tr {
        display: none;
    }
}
 /* || MEDIUM SCREEN */

 @media screen and (min-width:768px) {

    body {
        background-color:rgb(240, 182, 76) ;
    }
 
}
/* || LARGE SCREEN*/
 @media screen and (min-width:992px) {

    body {
        background-color:rgb(240, 182, 76) ;
    }
 
}
    /* || EXTRA-LARGE SCREEN*/
 @media screen and (min-width:1200px) {

    body {
        background-color:rgb(240, 182, 76) ;
    }
 
}
        /* || MOBILE DEVICE LANDSCAPE*/
 @media screen and (max-hieght:425px) and (min-aspect-ratio: 7/4) {

    body {
        background-color:rgb(240, 182, 76) ;
    }

    h1,h2{
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }
 
}

form{max-width: 400px; margin: auto;}
input,textarea{width: 100%; padding: 10px;margin: 10px 0;}
button {padding: 10px 20px;}

.search-bar{ margin-bottom: 20px;}
.product { border: 1px solid #ddd;padding: 10px;margin-bottom: 10px;}
.product-name { font-weight: bold;}
.error {color: red;font-size: 0.9em;}
.response {color: green;font-size: 0.9em;}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin: 30px 0;
    padding: 0 20px;
}


.gallery-img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-img:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgb(0, 0, 0.2);
}

.lightbox{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0.8);
    justify-content: center;
    align-items: center;

}

.lightbox-content{
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
}

.lightbox .close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.lightbox-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.lightbox-nav .prev,
.lightbox-nav .next{
    font-size: 50px;
    color: white;
    cursor: pointer;
    padding: 10px;
    user-select: none;
}
